:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --default-text-color:rgba(33, 33, 33, 1); /*используется также и в ссылках как цвет по-умолчанию*/
    --active-link-color: rgba(33, 150, 243, 1); /*используется в ссылках как цвет шрифта, так и цвет фона*/
    --contrast-text-color:rgba(255, 255, 255, 1);
    --logo-start-color:rgba(33, 150, 243, 1);
    --logo-end-color:rgba(0, 0, 0, 1); /*только для header*/
    --footer-contacts-text-color:rgba(255, 255, 255, 0.6);    
    --primary-background-color: rgba(47, 48, 58, 1);
    --default-background-color: rgba(255, 255, 255, 1);
    --accessory-background-color:rgba(245, 244, 250, 1);
    --projects-item-gap: 30px;
    --default-padding-gap: 94px;
}

/* border box*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}
/* центрирование контента */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: var(--default-padding-gap);
    padding-bottom: var(--default-padding-gap);
}

/* убираем маркеры в списках*/

.default-lists {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* убираем подчеркивание в ссылках */

.default-links {
    color: var(--default-text-color);
    text-decoration: none;
}

/* утилита для построения в ряд */

.items-in-row {
    display: flex;
}

/* Стилизация <body> */

body {
    font-family: Roboto, sans-serif;
    /* font-style: normal; браузер по-умолчанию*/
    /* font-weight: 400; браузер по-умолчанию*/
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--default-background-color);
}

/* разбиваю текст логотипа на две части по цвету шрифта*/
.header-decor {
    border-bottom: 1px solid #ECECEC;
}

.logo-header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-header,
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;}

.logo-start {
    color: var(--logo-start-color);
}

.logo-header .logo-end {
    margin-right: 0;
    color: var(--logo-end-color);
}

.logo-footer .logo-end {
    margin-right: 0;
    color: var(--contrast-text-color);
}

/*стилизация навигации сайта*/

.nav-section {
    align-items: center;
}

.nav-section .item:first-child {
    margin-left: 93px;
}

.nav-section .item:not(:last-child) {
    margin-right: 50px;
}

.navigation-link,
.contacts-link {
    display: block;
    
    padding-top: 32px;
    padding-bottom: 32px;   

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.contacts {
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 50px;
}

/* Синим цветом подсвечивается активная страница */
.navigation-link.current {
    color: var(--active-link-color);
}

/*стилизация e-mail и телефона переопределение цвета текста*/

.contacts-link {
    color: var(--primary-text-color)
}

/*стилизация ссылок навигации и контактов - при наведении курсора и активации*/
.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-link-color)
}

/* стилизация секции hero. hero-title и hero-button должны иметь общий фон*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-color: var(--primary-background-color);
    
    text-align: center;
}

/*стилизация основного заголовка*/
.hero-title {
    margin: 0px auto 30px auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--contrast-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Кнопка index */ /* button не наследуется из body */
.hero-button {
    padding: 10px 32px 10px 32px;
    
    margin-left: auto;
    margin-right: auto; /* наверно это ошибка. при изменении масштаба страницы вылазит за пределы контейнера */

    font-family: Roboto, sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--contrast-text-color);
    background-color: var(--active-link-color);
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

}

/* стилизация секции "Наши преимущества" */
.advantages-title {
    margin-bottom: 10px;

    /* font-weight: 700; браузер по-умолчанию*/
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--default-text-color);
}

.advantages-list .item p {
    width: 270px;
}

.advantages-list .item:not(:last-child) {
    margin-right: 30px;
}

/* стилизация секции "Чем мы занимаемся" */

.trends-section {
    padding-bottom: var(--default-padding-gap);
}

.trends-content {
    display: flex;
}

.trends-content .item {
    flex-basis: calc(100%/3);
    margin-left: var(--projects-item-gap);
}

.trends-content .item:first-child {
    margin-left: 0px;
}

.trends.title {
    margin-bottom: 50px;}

.trends.title,
.teamsection .title 
        {font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--default-text-color);}

/*стилизация секции "Наша команда"*/

.teamsection 
    {background-color: var(--accessory-background-color);}

.teamsection .title {
    margin-bottom: 50px;
}

.card-content .name,
.card-content .profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;    
}
.name {
    font-weight: 500;
    color: var(--default-text-color);
}

.team {
    display: flex;
}

.team .item {
    flex-basis: calc(100%/4);
    margin-left: var(--projects-item-gap);

    background-color: var(--default-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item:first-child {
    margin-left: 0;
}

.item .card-content {
    padding-top: var(--projects-item-gap);
    padding-bottom: var(--projects-item-gap);
}

.card-content .name {
    margin-bottom: 10px;
}

/*стилизация Footer*/ /* font-style: normal не наследуется из body*/
.pagefoot {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-background-color);
}

.pagefoot li {
    margin-bottom: 9px;
}

.pagefoot li:last-child {
    margin-bottom: 0;
}

.content-position {
    margin-top: 20px;
}
.pagefoot .address {
    font-style: normal;
    color: var(--contrast-text-color); 
}
.pagefoot .mailtel {
    font-style: normal;
    color: var(--footer-contacts-text-color);
    text-decoration: none;
}

.pagefoot .mailtel:hover,
.pagefoot .mailtel:focus {
    color: var(--active-link-color)
}

/* Кнопки фільтрації portfolio */ /* button не наследуется из body */
.filter-button {
    padding: 6px 22px 6px 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--default-text-color);
    background-color: var(--accessory-background-color);
    cursor: pointer;

    border: none;
    border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--contrast-text-color);
    background-color:var(--active-link-color);
}

.button-list {
    margin-bottom: 50px;
    justify-content: center;
}

.button-list .item:not(:last-child) {
    margin-right: 8px;
}

/* Стилизация секции "Наши проекты" */
.projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc( -1 * var(--projects-item-gap)); /*- 6px если рамка у всей карточки*/
    margin-top: calc(-1 * var(--projects-item-gap));
}

.projects .item {
    flex-basis: calc(100%/3 - var(--projects-item-gap)); /*+ 6px если рамка у всей карточки*/
    margin-left: var(--projects-item-gap); /*- 6px если рамка у всей карточки*/
    margin-top: var(--projects-item-gap);
}

.projects-title {
    /* font-weight: 700; браузер по-умолчанию*/
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--default-text-color);
}

.projects-description {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.projects .card-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

